<!DOCTYPE html>
{% load static %}
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>TripPlanner</title>
    <link rel="shortcut icon" href="{% static 'tripPlannerLogo.png' %}" type="image/x-icon">  
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Unicons CDN Link for Icons -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/thinline.css"
    />
  </head>
  <body>
    {% comment %} <div>
      <img src="{% static 'Bhopal.jpg' %}" alt="icon">
    </div> {% endcomment %}
    <div class="wrapper">
      <div class="title">
        <img src="{% static 'tripPlannerLogo.png' %}" alt="icon">
        <h2>TripPlanner</h2>
      </div>
      <div class="content">
        <p>Press enter or add a comma after each tag</p>
        <ul><input type="text" spellcheck="false"></ul>
      </div>
      <div class="details">
        <p><span>10</span> tags are remaining</p>
        <button>Remove All</button>
        <form action="/result/" method="POST">
          {% csrf_token %}
          <input type="text" value="locations" id="inpLocation" name="inpLocation" />
          <button type="submit" value="Send Request" class="submit">
            Submit
          </button>
        </form>
        <br>
        <br>
        <br>
        
      </div>
      <p>Note:- This may take a minute or two.</p>
    </div>
    </div>
    <script src="{% static 'script.js' %}"></script>
  </body>
</html>
